@use 'vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: vars.$placeholder;
  opacity: 1;
  transition: opacity 0.25s;
}

:focus::placeholder {
  opacity: 0;
}

::selection {
  color: #fff;
  background-color: vars.$accent;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  color: inherit;
  font: #{vars.$base-font-size} / 1.5 vars.$default-font;
  background-color: inherit;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; /* optimizeSpeed */
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
