@font-face {
  font-weight: 400;
  font-family: 'roboto';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'roboto';
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/RobotoBold/RobotoBold.woff2') format('woff2');
}
