/* Containers */
.container {
	width: 100%;
	padding: 0 calc(var(--gap) / 2);
	margin: 0 auto;
}

@media (width >= 576px) {
	.container {
		max-width: 540px;
	}
}

@media (width >= 768px) {
	.container {
		max-width: 720px;
	}
}

@media (width >= 992px) {
	.container {
		max-width: 960px;
	}
}

@media (width >= 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (width >= 1400px) {
	.container {
		max-width: 1320px;
	}
}

@media (width >= 576px) {
	/* code sm */
}

@media (width >= 768px) {
	/* code md */
}

@media (width >= 992px) {
	/* code lg */
}

@media (width >= 1200px) {
	/* code xl */
}

@media (width >= 1600px) {
	/* code xxl */
}
