@use "sass:color";
@use "vars";

// help options font-display https://developer.mozilla.org/ru/docs/Web/CSS/@font-face/font-display
@mixin font-face($name, $path, $weight: normal, $style: normal, $display: swap) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-style: $style;
    font-display: $display;
    src: url('#{$path}.woff') format('woff'), url('#{$path}.woff2') format('woff2');
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button($button-bg-color: currentColor, $button-text-color: initial, $button-font-size: vars.$base-font-size, $btn-border-radius: vars.$button-border-radius, $button-width: null, $button-padding...) {
  background: $button-bg-color;
  font-size: $button-font-size;
  border-radius: $btn-border-radius;
  color: $button-text-color;
  min-width: $button-width;
  padding: $button-padding;
  &:hover {
    background: color.adjust($button-bg-color, $lightness: -10%);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $button-bg-color;
  }
  &::-moz-focus-inner {
    border: none;
  }
  &:active {
    background: color.adjust($button-bg-color, $lightness: -20%);
  }
  &:disabled,
  [disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
    user-select: none;
  }
}

@mixin size($a, $b: false) {
  width: $a;
  @if $b {
    height: $b;
  } @else {
    height: $a;
  }
}

@mixin linx ($link, $visit, $hover, $active: null) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}
