/* Настройка Pixel Glass */
html {
	/* По умолчанию показывается мобильный макет */
	background-image: url('../../images/mobile.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
}

/* Планшет */
@media (width >= 760px) {
	html {
		/* Планшетный макет */
		background-image: url('../../images/tablet.png');
	}
}

/* Десктоп */
@media (width >= 960px) {
	html {
		/* Десктопный макет */
		background-image: url('../../images/desktop.png');
	}
}
