extends ../layouts/main
block variables
  - var title = 'Компоненты'
block content
  main.components
    .container
      h1.components__page-title.title Компоненты
      .demo.demo__components
        include ../modules/button
        include ../modules/breadcrumbs
        include ../modules/pagination

