extends ../layouts/main
block variables
  - var headerNav = [{ title : 'Главная', link: 'index.html' },{ title: 'Компоненты', link: 'components.html' }]
  - var title = 'Главная'
block styles
block content
  main.main-content


block javascript
