extends ../layouts/main
block variables
  - var headerNav = [{ title : 'Главная', link: 'index.html' },{ title: 'Компоненты', link: 'components.html' }]
  - var title = 'Главная'
block styles
block content
  main.main-content
    .container
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой несколько моей сих повстречался взгляд выйти путь журчит пустился.
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой несколько моей сих повстречался взгляд выйти путь журчит пустился.
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Большой несколько моей сих повстречался взгляд выйти путь журчит пустился.
      .box12
      h2#titlez TEST

block javascript
