.button {
  display: inline-block;
  min-width: 130px;
  border: none;
  padding: 15px 30px;
  transition: all .3s ease-out;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #4676d7;
  background-origin: border-box;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  &:hover {
    background: #1d49aa;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:active {
    background-color: darken(#1d49aa, 15%);
  }
  &:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
  }
  & > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .25rem;
    vertical-align: text-top;
    fill: white;
  }
  &--outline {
    border: 2px solid #4676d7;
    padding: 6px 30px;
    color: #222;
    background: transparent;
    &:hover {
      color: white;
      background: linear-gradient(to bottom, #00acee, #0072e0);
    }
    &:active {
      background: #1d49aa;
    }
  }
}

.button__icon {
  min-width: 130px;
  border: 0;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  background: #4676d7;
  border-radius: 20px;
  cursor: pointer;
  appearance: none;
  &:hover {
    background: #1d49aa;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
  }
  & > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .25rem;
    vertical-align: text-top;
    fill: white;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-origin: border-box;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s ease-out;
  appearance: none;
  & > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .25rem;
    vertical-align: text-top;
    fill: white;
  }
  &--outline {
    border: 2px solid #4676d7;
    padding: 6px 30px;
    color: #222;
    background: transparent;
    &:hover {
      color: white;
      background: linear-gradient(to bottom, #00acee, #0072e0);
    }
    &:active {
      background: #1d49aa;
    }
  }
}

.modal {
  &__btn {
    @include button(#ffbf07, rgba(0, 0, 0, 1), 13px, 30px, 265px, 17px 90px 18px 90px);
    text-transform: uppercase;
    font-weight: 700;
  }
}
.hero {
  &__btn {
    @include button(#f50047, rgba(255, 255, 255, 1), 13px, 40px, 226px, 21px 67px);
    text-transform: uppercase;
  }
}
