.main-nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  background-color: #311b92;
  box-shadow: 0 7px 10px rgba(0, 0, 0, .4);
  &__list {
    margin: 0;
    padding-left: 0;
  }
  &__item {
    display: inline-block;
    font-size: 14pt;
    &--active {
      background-color: darken(#311b92, 10%);
    }
  }
  &__link {
    display: block;
    padding: 20px;
    color: #fff;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    transition: ease-out .25s;
    &:hover,
    &:focus {
      border-bottom: 3px solid rgba(255, 255, 255, 1);
    }
  }
}
