.pagination {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    padding-left: 0;
    list-style-type: none;
  }
  &__item {
    text-align: center;
    color: inherit;
    &--current {
      color: green;
    }
    &__link {
      min-width: 20px;
      padding: 10px;
      &:visited {
        display: inline-block;
        color: currentColor;
        text-decoration: none;
        transition: 125ms color ease-in-out;
      }
      &:hover,
      &:focus,
      &:active {
        color: red;
      }
    }
    &__text {
      min-width: 20px;
      padding: 10px;
    }
  }
}
