@import '../_modules/header';
@import '../_modules/nav';
@import '../_modules/titles';
@import '../_modules/footer';

#titlez {
  @media (min-width: 1200px) {
    color: teal;
  }
  @media (min-width: 992px) {
    color: tomato;
  }
  @media (min-width: 768px) {
    color: lime;
  }
}
