// help options font-display https://developer.mozilla.org/ru/docs/Web/CSS/@font-face/font-display
@mixin font-face($name, $path, $weight: normal, $style: normal, $display: swap) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-style: $style;
    font-display: $display;
    src: url("#{$path}.woff") format("woff"), url("#{$path}.woff2") format("woff2");
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button($button-bg-color: initial, $button-text-color: initial, $button-width: 0, $button-padding-top: 15px, $button-padding-right: false, $button-padding-bottom: $button-padding-top, $button-padding-left: $button-padding-right) {
  @if $button-bg-color {
    background: $button-bg-color;
    &:hover {
      background: darken($button-bg-color, 10%);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px $button-bg-color;
    }
    &::-moz-focus-inner {
      border: none;
    }
    &:active {
      background: darken($button-bg-color, 20%);
    }
  }
  @if $button-text-color {
    color: $button-text-color;
  }
  @if $button-width {
    min-width: $button-width;
  }
  @if $button-padding-top {
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
  }
  @else if $button-padding-right {
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
  }
  @else if $button-padding-bottom {
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
  }
  @else if $button-padding-left {
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
  }
}

@mixin size($a, $b: false) {
  width: $a;
  @if $b {
    height: $b;
  } @else {
    height: $a;
  }
}
