// Шрифты
$base-font-size: 16px;
$reserve-font: "Arial", sans-serif;
$default-font: "roboto-example", $reserve-font;

// Цвета
$base: rgb(11, 17, 25);
$accent: rgb(249, 148, 6);
$text: rgb(189, 189, 189);
$title: rgb(255, 255, 255);
$placeholder: rgb(175, 175, 175);
$line: rgb(36, 41, 48);
$blue: blue;

// Кнопки
$button-bg-color: rgb(249, 148, 6);
$button-color: white;
$button-border-radius: 8px;
$button-bg-hover-color: darken($button-bg-color, 10%);
$button-bg-focus-color: $button-bg-hover-color;
$button-bg-active-color: darken($button-bg-color, 20%);
$button-bg-disabled-color: lighten($button-bg-color, 10%);
