h2.demo__title.title Хлебные крошки
//- +breadcrumbs(nav.headerNav)
nav.breadcrumbs(aria-label="breadcrumbs")
  ul.breadcrumbs__list
    li.breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
      a.breadcrumbs__link(href="#" itemprop="url")
        svg.breadcrumbs__icon.icon-home(width="16" height="16" aria-hidden="true")
          use(xlink:href="images/svg-sprite/sprite.svg#home")
        span.breadcrumbs__title(itemprop="title") Главная
    li.breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
      a.breadcrumbs__link(href="#" itemprop="url")
        svg.breadcrumbs__icon.icon-puzzle(width="16" height="16" aria-hidden="true")
          use(xlink:href="images/svg-sprite/sprite.svg#puzzle")
        span.breadcrumbs__title(itemprop="title") Компоненты
    li.breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
      a.breadcrumbs__link(href="#" itemprop="url")
        svg.breadcrumbs__icon.icon-list(width="16" height="16" aria-hidden="true")
          use(xlink:href="images/svg-sprite/sprite.svg#list")
        span.breadcrumbs__title(itemprop="title") Пункт
    li.breadcrumbs__item(aria-current="page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
      span.breadcrumbs__page(itemprop="title") Текущий пункт
