- var test = 'горами'
h2.demo__title.title Кнопки

button.button.button--outline Кнопка
button.button Кнопка
a.button(href="#") Кнопка

button.button__icon
  svg.button__svg(aria-hidden="true" width=25 height=25)
    use(xlink:href="images/svg-sprite/sprite.svg#switch")
  | Кнопка

button.button
  b Subscribe to our newsletter#[br]
  span(aria-hidden="true") 240K+ subscribers

a.button(href="../../images/1-1600.jpg")
  svg.button__svg(aria-hidden="true" width=25 height=25)
    use(xlink:href="images/svg-sprite/sprite.svg#down-arrow")
  | Скачать изображение
br
button.btn(disabled) Подобрать программу
.box
  .box__boxy
    button.btn(disabled) Подобрать программу
    a(href="#") Link
