h2.demo__title.title Кнопки

button.button
  include ../../images/svg/check-circle.svg
  | Кнопка
  //- svg.button__icon(aria-hidden="true" width=25 height=25)
  //-   use(xlink:href="images/svg-sprite/sprite.svg#check-circle") Кнопка
