h2.demo__title.title Пагинация
nav.pagination(role="navigation" aria-label="pagination")
  ul.pagination__list
    li.pagination__item
      a.pagination__link(href="#" aria-label="Previous")
        span.pagination__icon(aria-hidden="true") &laquo;
        span.visually-hidden Назад
    li.pagination__item.pagination__item--first
      a(href="#").pagination__link 1
    li.pagination__item.pagination__item_spacer
      span.pagination__text ...
    li.pagination__item
      a(href="#").pagination__link 4
    li.pagination__item
      a(href="#").pagination__link 5
    li.pagination__item
      a(href="#").pagination__link 6
    li.pagination__item.pagination__item--current(aria-current="page")
      span.pagination__text 7
    li.pagination__item
      a(href="#").pagination__link 8
    li.pagination__item
      a(href="#").pagination__link 9
    li.pagination__item
      a(href="#").pagination__link 10
    li.pagination__item.pagination__item_spacer
      span.pagination__text ...
    li.pagination__item.pagination__item_last
      a(href="#").pagination__link 20
    li.pagination__item
      a.pagination__link(href="#" aria-label="Previous")
        span.pagination__icon(aria-hidden="true") &raquo;
        span.visually-hidden Вперёд
