<div class="advantages-slider-wrapper">
	<div class="advantages-slider">
		<div class="swiper-wrapper">
			<div class="advantages-slider__slide swiper-slide">
				<img src="images/portfolio/interior-6_adv.jpg" alt="Alt">
			</div>
			<div class="advantages-slider__slide swiper-slide">
				<img src="images/portfolio/interior-8_adv.jpg" alt="Alt">
			</div>
		</div>
		<div class="advantages-slider__caption">
			<b>32</b>
			<span>года<br>на рынке</span></div>
	</div>

</div>
