<div class="advantages-about-us">
	<header class="advantages-about-us__header">
		<h2 class="advantages-about-us__title title-slashes">Коротко о нас</h2>
		<p class="advantages-about-us__slogan section-title">Проектируем и создаём экологичный
			комфорт</p>
		<p class="advantages-about-us__description">
			В работе мы используем только лучшие материалы на рынке по доступным
			ценам. Наши специалисты подберут наиболее подходящие породы дерева, специалисты по дизайну разработают
			готовое решение.
		</p>
	</header>
	<div class="advantages-about-us__items">
		<article class="advantages-about-us__item">
			<a href="#" class="advantages-about-us__link">
				<div class="advantages-about-us__item-wrapper">
					<svg class="advantages-about-us__icon icon-eco" width="55" height="40" aria-hidden="true">
						<use xlink:href="images/svg-sprite/sprite.svg#eco"></use>
					</svg>
					<h3 class="advantages-about-us__item-title">Безопасные материалы
					</h3>
				</div>
			</a>
			<p class="advantages-about-us__item-description">Безопасность каждого из используемых материалов подтверждается
				соответствующим сертификатом европейского стандарта. Мы используем продукцию только проверенных годами
				брендов.</p>
			<a href="#" class="advantages-about-us__read-more-link">Подробнее</a>
		</article>
		<article class="advantages-about-us__item">
			<a href="#" class="advantages-about-us__link">
				<div class="advantages-about-us__item-wrapper">
					<svg class="advantages-about-us__icon icon-wood" width="40" height="40" aria-hidden="true">
						<use xlink:href="images/svg-sprite/sprite.svg#wood"></use>
					</svg>
					<h3 class="advantages-about-us__item-title">Качественная древесина</h3>
				</div>
			</a>
			<p class="advantages-about-us__item-description">В создании неповторимых интерьеров мы используем только
				качественную,
				проверенную европейскую древесину, которая будет служить вам долгие годы, сохраняя свои качества и
				безупречный внешний вид.</p>
			<a href="#" class="advantages-about-us__read-more-link">Подробнее</a>
		</article>
	</div>
</div>
