<button class="back-to-top" type="button" aria-label="Наверх">
	<svg class="back-to-top__icon icon-up-arrow" width="15" height="9" aria-hidden="true">
		<use xlink:href="images/svg-sprite/sprite.svg#up-arrow"></use>
	</svg>
</button>
