<section class="best-works">
	<header class="best-works__header">
		<div class="container">
			<p class="best-works__description">Представляем вам лучшие проекты, разработанные нашей командой профессионалов
				с
				любовью и заботой клиентах. Портфолио позволит вам выбрать интересующий стиль, цвет дерева, фактуру, дизайн и
				расположение элементов.</p>
			<div class="best-works__header-block">
				<h2 class="best-works__title title-slashes">Лучшие работы</h2>
				<p class="best-works__slogan section-title">Создаём
					тёплую
					атмосферу вашего
					отдыха</p>
			</div>
		</div>
	</header>
	<div class="best-works__bottom">
		<div class="container">
			<article class="best-works__item">
				<a href="#" class="best-works__link">
					<img src="images/portfolio/interior-4.jpg" alt="Современная гостиная в древесных тонах">
				</a>
				<div class="best-works__content">
					<address title="Санкт-Петербург, Английский Проспект">
						<svg width="12" height="15" class="best-works__icon icon-mapmarker" aria-hidden="true">
							<use xlink:href="images/svg-sprite/sprite.svg#mapmarker"></use>
						</svg>
						Санкт-Петербург, Английский Проспект
					</address>
					<h3 class="best-works__content-title">
						<a href="#" class="best-works__content-link">Современная гостиная в древесных тонах</a>
					</h3>
				</div>
			</article>
			<article class="best-works__item">
				<a href="#" class="best-works__link">
					<img src="images/portfolio/interior-5.1.jpg" alt="Панорамная чилаут зона для чтения и отдыха">
				</a>
				<div class="best-works__content">
					<address title="Москва, Рублево-Успенское Шоссе">
						<svg width="12" height="15" class="best-works__icon icon-mapmarker" aria-hidden="true">
							<use xlink:href="images/svg-sprite/sprite.svg#mapmarker"></use>
						</svg>
						Москва, Рублево-Успенское Шоссе
					</address>
					<h3 class="best-works__content-title">
						<a href="#" class="best-works__content-link">Панорамная чилаут зона для чтения и отдыха</a>
					</h3>
				</div>
			</article>
			<article class="best-works__item">
				<a href="#" class="best-works__link">
					<img src="images/portfolio/interior-3.jpg" alt="Уютный лофт в светлых древесных тонах">
				</a>
				<div class="best-works__content">
					<address title="Москва, На Якиманке">
						<svg width="12" height="15" class="best-works__icon icon-mapmarker" aria-hidden="true">
							<use xlink:href="images/svg-sprite/sprite.svg#mapmarker"></use>
						</svg>
						Москва, На Якиманке
					</address>
					<h3 class="best-works__content-title">
						<a href="#" class="best-works__content-link">Уютный лофт в светлых древесных тонах</a>
					</h3>
				</div>
			</article>
		</div>
		<div class="best-works__button">
			<a href="#" class="button">Загрузить ещё</a>
		</div>
	</div>
</section>
