<footer class="main-footer">
	<div class="container">
		<div class="main-footer__wrapper">
			<div class="main-footer__about-us">
				{{ logo("footer") }}
				<div class="main-footer__content">
					<h2 class="main-footer__title title">
						Коротко о нас
					</h2>
					<p class="main-footer__description">
						Мы досконально прорабатываем, а затем обсуждаем с нашими клиентами внешний вид каждого изделия. Мы крайне
						редко
						повторяемся, ведь мы знаем, что вы цените индивидуальность и не готовы довольствоваться готовыми решениями.
					</p>
				</div>
			</div>
			<div class="main-footer__nav-list">
				<h2 class="main-footer__title footer-title">
					Меню
				</h2>
				{{ navigation("footer") }}
			</div>
			<div class="main-footer__service-list">
				<h2 class="main-footer__title footer-title">
					Услуги
				</h2>
				<ul class="main-footer__list" role="list">
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Дизайн интерьера</a>
					</li>
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Проектирование</a>
					</li>
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Поставка дерева</a>
					</li>
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Ремонт</a>
					</li>
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Концепт</a>
					</li>
					<li class="main-footer__item">
						<a href="#" class="main-footer__item-link">Выезд мастера</a>
					</li>
				</ul>
			</div>
			<div class="main-footer__social">
				<h2 class="main-footer__title footer-title">
					Мы в соц. сетях
				</h2>
				<p class="main-footer__description">
					Подпишитесь на нас в социальных сетях, чтобы не пропустить выход новых невероятных проектов, разработанных для
					наших
					клиентов по всему миру.
				</p>
				{{ social("footer") }}
			</div>
		</div>
	</div>
</footer>
