<div class="home-callback">
	<p class="home-callback__text">Позвоните нам или оставьте заявку с сайта.<br>Мы перезвоним вам в
		течение 10 минут.
	</p>
	<a href="tel:+74992467532" class="home-callback__phone" title="Позвонить...">+7 (499) 246-75-32</a>
	<button type="button" class="home-callback__button button">Оформить заявку сейчас</button>
</div>
