<h1 class="visually-hidden">Woodtech - Создаём тёплую атмосферу вашего отдыха</h1>
<section class="home-slider">
	<div class="swiper-wrapper">

		<div class="home-slider__slide swiper-slide" style="background-image: url('images/portfolio/interior-3.jpg');">
			<div class="container">
				<h2 data-animate="bottom" class="home-slider__title">Woodhouse<br>
					<span>дизайн на высоком уровне</span>
				</h2>
				<p data-animate="bottom" class="home-slider__text">Разработка и реализация красивых интерьеров из дерева ещё
					никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас
					и ваших гостей.</p>
			</div>
		</div>

		<div class="home-slider__slide swiper-slide" style="background-image: url('images/portfolio/interior-1.jpg');">
			<div class="container">
				<h2 data-animate="bottom" class="home-slider__title">Интерьер<br>
					<span>в современном стиле</span></h2>
				<p data-animate="bottom" class="home-slider__text">Разработка и реализация красивых интерьеров из дерева ещё
					никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас
					и ваших гостей.</p>
			</div>
		</div>

		<div class="swiper-slide home-slider__slide" style="background-image: url('images/portfolio/installation-1.jpg');">
			<div class="container">
				<h2 data-animate="bottom" class="home-slider__title">Деревянные<br>
					<span>инсталляции любой сложности</span>
				</h2>
				<p data-animate="bottom" class="home-slider__text">Разработка и реализация красивых интерьеров из дерева ещё
					никогда не была так доступна. Интерьеры из дерева различной породы сделают ваш дом уютным и тёплым, радуя вас
					и ваших гостей.</p>
			</div>
		</div>

	</div>

	<div class="row home-slider__control">
		<div class="col-3 home-slider__pagination-wrapper">
			<div class="home-slider__pagination swiper-pagination"></div>
		</div>
		<div class="col-6 home-slider__scrollbar-wrapper">
			<div class="home-siler__scrollbar swiper-scrollbar"></div>
		</div>
		<div class="col-3 home-slider__navigation">
			<div class="home-slider__prev swiper-button-prev"></div>
			<div class="home-slider__next swiper-button-next"></div>
		</div>
	</div>

</section>
