{% macro navigation(mod) %}
	<nav class="main-navigation{% if mod %} main-navigation--{{ mod }}{% endif %}">
		<button class="main-navigation__button" type="button">
			<svg class="main-navigation__icon icon-hamburger" aria-hidden="true" height="20" width="20">
				<use href="images/svg-sprite/sprite.svg#bars"></use>
			</svg>
		</button>
		{# <button class="main-navigation__burger" type="button">1</button> #}
		<ul class="main-navigation__list" role="list">
			<li class="main-navigation__item">
				<a href="#" class="main-navigation__link">Главная</a>
			</li>
			<li class="main-navigation__item">
				<a href="#" class="main-navigation__link">Проекты</a>
			</li>
			<li class="main-navigation__item">
				<a href="#" class="main-navigation__link">Услуги</a>
			</li>
			<li class="main-navigation__item">
				<a href="#" class="main-navigation__link">Блог</a>
			</li>
			<li class="main-navigation__item">
				<a href="#" class="main-navigation__link">Компания</a>
			</li>
		</ul>
	</nav>
{% endmacro %}
