<section class="we-are-trusted">
	<div class="container">
		<div class="we-are-trusted__statistics">
			<h2 class="we-are-trusted__statistics-title">Нам доверяют</h2>
			<ul class="we-are-trusted__statistics-list" role="list">
				<li>
					<b>860</b> клиентов по всему миру</li>
				<li>
					<b>23</b> надёжных партнёра</li>
				<li>
					<b>12</b> поставщиков</li>
				<li>
					<b>36</b> лучших франчайзи</li>
				<li>
					<b>108</b> производителей мебели</li>
				<li>
					<b>85</b> сотрудников</li>
				<li>
					<b>38</b> пернатых попугаев</li>
				<li>
					<b>256</b> восьмибитных цветов</li>
			</ul>
		</div>
		{% include "partials/home-callback.njk" %}
	</div>
	<!-- /.container -->
</section>
